
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FAEBD7;
    
}

header, article, section,footer{
    width: 80%;
    margin: auto;
}
h1 , h2 {
    margin: 0%;
}
article h2 {
    text-align: center;
    color: red;
}
#diferenciais h2 {
    color: green;
}
section h2, h3{
    margin-top: 100px;
}

header{
    width: 80%;
    margin: auto;
    position: relative;
    
}
p, li {
    font-size: 1.2em;
}




nav ul{
    position: absolute;
    top: 25px;
        right: 0;,
        display: inline;

        text-shadow:0px 5px 10px red;
}

      

    
    


    
    




nav ul li {
    display: inline;
    margin-left: 15px;
}
nav ul li a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: red;
}

/* inline - block: exibe um elemento ao lado do outro e mantem as propriedades de margens , bordas e "padding" */
.pizza-grande {
    width: 100%;
    
}
#diferenciais ul {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}
#diferenciais ul li {
    line-height: 2.5;     
}
#diferenciais img {
    width: 50%;
}
section h3{
    font-size: 25px;
    

}
#cardapio img{
    width: 300px;
    margin: 2.5%;
    display: inline;
    
}
#cardapio p{
    font-size: 25px;
    text-align: center;
}

/* https://angrytools.com/css-flex/ para ver os modelos de centralizar o diplay flex */
.box{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}
.box-p {
    color: red;
}
.box-t{
    color: red
}
.box-img:hover{
    transform: scale(2.5) rotate3d(-1,1,0,90deg);
    transition: 3s;

}
/* FOOTER = RODAPÉ */

footer{
    background-color: green;
    text-align: center;
    margin-top: 100px;
}
footer p:hover{
    color: red;
    cursor: pointer;  

}
.pizzashow:hover{
    transform: scale(50px;
   
}